<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<header>
    <h1>BugBashers Recipe App</h1>
</header>

<body>

    <br><br>
    <a href="data_handler/recipes/"><button> Click For Random Recipe</button> </a>
    <source>
    </button>
</body>


<style>
    :root {
        --button-text-color: rgb(189, 240, 224);
        --button-bckgrnd-color: rgb(5, 93, 58);
    }

    button {
        font-size: large;
        font-weight: 800;
        color: var(--button-text-color);
        background-color: var(--button-bckgrnd-color);

    }

    button:hover {
        transform: translateY(-5px);
        color: var(--button-bckgrnd-color);
        background-color: var(--button-text-color);

    }

    header {
        text-align: center;
    }
</style>

</html>